@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */


@keyframes glowAnimation {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes glow {
    0% {
        opacity: 0.6;
        filter: brightness(1);
    }
    100% {
        opacity: 1;
        filter: brightness(1.5);
    }
}

.transition {
    transition: height 0.3s ease;
  }
  

.glow {
    animation: glow 1.5s infinite alternate;
}
/* Multiplier Bar styles */
.multiplier-bar {
    position: relative;
    width: 0.5rem; /* Adjust the width as necessary */
    height: 17rem; /* Set the height for the multiplier bar */
    background-color: #374151; /* Gray color for the empty portion of the bar */
    border-radius: 0.25rem; /* Rounded corners */
    overflow: hidden; /* Ensure child elements don't overflow */
}

.multiplier-fill {
    position: absolute;
    bottom: 0; /* Positioning to start from the bottom */
    width: 100%; /* Full width */
    background-color: #34D399; /* Green color for the filled portion of the bar */
    transition: height 0.3s ease; /* Smooth height transition */
}

/* Other existing styles can remain unchanged */

  

  
